@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

container {
  width: 85%;
  margin: 0 auto;
}

body {
  background: #1d1d1d;
}

.row input {
  width: 200.33px;
  height: 36px;
  padding: 9px 27px 8px 12px;
  border-radius: 6px;
  border: none;
}

.row {
  text-align: center;
  margin-bottom: 50px;
}

.row select {
  width: 109.33px;
  height: 36px;
  padding: 9px 27px 8px 12px;
  border-radius: 6px;
  border: none;
}

.row button {
  background: red;
  color: white;
  width: 109.33px;
  height: 36px;
  border-radius: 6px;
  border: none;
}

#cinema-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

#cinema-container {
  display: flex;
  flex-wrap: wrap;
}

.cinema {
  padding-top: 40px;
  width: 270px;
  height: 368px;
  text-align: center;
  gap: 20px;
  background-color: #3a3434;
  margin-bottom: 20px;
  border-radius: 10px;
}

.cinema > h3 {
  color: white;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: inline;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.cinema > h2 {
  font-family: Arial;
  font-size: 18.7px;
  font-weight: 700;
  line-height: 21.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cinema > img {
  border-radius: 10px;
  height: 146px;
  object-fit: cover;
}

.cinema > h4 {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  margin-top: 20px;
  text-wrap: wrap;
}

.cinema > button {
  width: 90px;
  background: #5cb85c;
  color: white;
  border: none;
  height: 35px;
  margin-top: 30px;
  padding: 10px 9.63px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}
